<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Registration</title>
</head>
<body>
<div >
    <h1>School Detail</h1>
    <table>
        <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Address</th>
              <th>Strength</th>
            </tr>
          </thead>

    <tbody>
    <tr th:each="school : ${schools}">
    <td th:text="${school.name}">School Name</td>
    <td th:text="${school.address}">Address</td>
    <td th:text="${school.strength}">Strength</td>
    </tr>
    </tbody>
    </div>
</table>
</div>
</body>
</html>